# Object files
*.o
*.obj
*.elf

# Executables
*.exe
*.out
*.app

# Output directories
build/

# Logs
logs/
*.log

# IDE configurations
.vscode/

# Compile commands
compile_commands.json

# BPF generated headers
vmlinux.h
