# Object files
*.o
*.d
*.obj
*.elf

# Executables
*.exe
*.out
*.app

# Output directories
build/
api/

# Logs
logs/
*.log

# IDE configurations
.vscode/

# Compile commands
compile_commands.json

# BPF generated headers
vmlinux.h

# Ignore virtual environment directories
venv/
.venv/
docs-venv/
.docs-venv/

# Python bytecode and cache
*.pyc
__pycache__/
